<a href="https://colab.research.google.com/github/ghodsieh86/ghodsieh6220project/blob/main/employee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd

In [18]:
df= pd.read_csv('/content/Employee Data.csv')
df.head(10)

,Gender,Satisfaction,Business Travel,Department,EducationField,Salary,Home-Office,Attrition
0,Female,High,Rare,Sales,Engineering,Medium,Near,Yes
1,Male,Low,Frequent,Sales,Engineering,Low,Near,Yes
2,Male,Medium,Rare,R&D,Other,Medium,Far,No
3,Female,Low,Frequent,R&D,Engineering,Medium,Far,Yes
4,Male,Medium,Rare,R&D,Medical,Medium,Far,No
5,Male,High,Frequent,R&D,Engineering,Low,Far,No
6,Female,High,Rare,R&D,Medical,High,Far,No
7,Male,High,Rare,R&D,Engineering,High,Near,No
8,Male,High,Frequent,R&D,Engineering,High,Near,No
9,Male,Medium,Rare,R&D,Medical,High,Near,No