<a href="https://colab.research.google.com/github/ghodsieh86/ghodsieh6220project/blob/main/ghodsieh6220project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/exams.csv')
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63
7,male,group E,some college,standard,completed,93,88,84
8,male,group D,high school,standard,none,63,56,65
9,male,group C,some college,free/reduced,none,47,42,45

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving exams.csv to exams (2).csv

In [ ]:
df2= pd.read_csv('/content/exams.csv')
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63
7,male,group E,some college,standard,completed,93,88,84
8,male,group D,high school,standard,none,63,56,65
9,male,group C,some college,free/reduced,none,47,42,45

In [ ]:
df2. shape

(1000, 8)

In [ ]:
df['lunch']

0          standard
1      free/reduced
2      free/reduced
3          standard
4          standard
           ...
995        standard
996    free/reduced
997    free/reduced
998        standard
999        standard
Name: lunch, Length: 1000, dtype: object

In [ ]:
df['test preparation course']

0      completed
1           none
2           none
3           none
4      completed
         ...
995         none
996    completed
997         none
998         none
999    completed
Name: test preparation course, Length: 1000, dtype: object